<!DOCTYPE html>
<html lang="en">
	<footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-xs-6">
                    <div class="about">
                        <h2>about us</h2>
                        <a href="http://artdialog.ch/en/index.html"><img src="../assets/img/logo-neg.png" alt=".."></a>
                        <p class="text-justify">The Association ArtDialog is a non-profit organization. The founder of Art Dialog is Dimitri Vasylyev, musician, conductor and music 
						manager.<a href="http://artdialog.ch/en/index.html" target="_blank">  more...</a></p>
                    </div>
                </div>
                <div class="col-sm-4 col-xs-6">
                    <h2>Information</h2>
                    <ul class="ftr-menu left">
                        <li><a href="programm.html">Program</a></li>
                        <li><a href="information.html">Information</a></li>
                        <li><a href="galerie.html">Gallery</a></li>
                    </ul>
                    <ul class="ftr-menu right">
                        <li><a href="sponsoren.html">Sponsors</a></li>
                        <li><a href="kontakt.html">Contact</a></li>
                        <li><a href="impressum.html">Imprint</a></li>
                    </ul>
                </div>
                <div class="col-sm-4 col-xs-6">
                    <h2>Contact</h2>
						<p>Association Art Dialog
                        <br /> Büttenbergstrasse 37
                        <br /> 2504 Biel/Bienne
						<br /> Switzerland
                    </p>
                    <p class="purple">Media kit
                        <a href="../assets/img/download/media_kit_de.pdf">download  >></a></p>
                </div>
            </div>
            <div class="row copyright">
                <p>Copyright &copy; ArtDialog festival 2016</p>
                <p>Designed by: <a href="http://golive-design.com/de-home.html">green olive design</a></p>
            </div>
        </div>
    </footer>
</html>