<!DOCTYPE html>
<html lang="en">
<footer>
	<div class="inner">
		<div class="art"></div>
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<a href="http://artdialog.ch/en/index.html" target="_blank">ABOUT US</a>
					<a href="../assets/img/download/media_kit_de.pdf" target="_blank">MEDIAKIT</a>
					<a href="impressum.html">IMPRIM</a>
					<a href="kontakt.html">CONTACT</a>
				</div>
				<div class="col-sm-6">
					<h2>ARTDIALOG FESTIVAL</h2>
					<div class="f-text">
						The ArtDialog Festival is a festival of art, which combines music, visual art and the art of wine. Art is the 
						shortest way to a mutual understanding of people!
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id = "back-to-top">
		<i class="fa fa-angle-up" aria-hidden="true"></i>
	</div>
	<div class="row copyright">
        <p>Copyright &copy; ArtDialog Festival 2018</p>
    </div>
</footer>
</html>				

