<!DOCTYPE html>
<html lang="en">
<footer>
    <div class="container">
        <div class="row">
			<div class="col-sm-3">
				<font color="#af50c3">ARTDIALOG FESTIVAL</font><p></p>
				<p class="text-justify">The ArtDialog Festival is a festival of art, which combines music, visual art and the art of wine. Art is the 
				shortest way to a mutual understanding of people!</p>
			</div>
			<div class="col-sm-2 text-center">
                <a href="http://artdialog.ch/en/index.html" target="_blank">ABOUT US</a>
			</div>
			<div class="col-sm-2 text-center">
                <a href="../assets/img/download/media_kit_de.pdf" target="_blank">MEDIAKIT</a></a>
			</div>
			<div class="col-sm-2 text-center">
                <a href="impressum.html">IMPRIM</a></a>
			</div>
			<div class="col-sm-3 text-center">
                <a href="kontakt.html">CONTACT</a></a>
			</div>
		</div>
		<div class="row copyright">
            <p>Copyright &copy; ArtDialog festival 2016</p>
            <p>Designed by: <a href="http://golive-design.com/de-home.html">green olive design</a></p>
        </div>
    </div>
</footer>
</html>