<nav id="nav" class="navbar navbar-default">
    <div  class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li><a href="programm.html">Program &amp; Tickets 2017</a></li>
            <li><a href="information.html">Information</a></li>
			<li><a href="archiv.html">Our artists</a></li>
            <li><a href="galerie.html">Gallery</a></li>
            <li><a href="media.html">Media</a></li>
            <li><a href="sponsoren.html">Partners &amp; Sponsors</a></li>
            <li><a href="kontakt.html">Contact</a></li>
        </ul>
    </div>
</nav>

<div class="aktuell-wrapper">
	<div class="videoWrapper">
		<iframe width="854" height="480" src="https://www.youtube.com/embed/tWU8dkCJA-8" frameborder="0" allowfullscreen></iframe>
	</div>
    <h2 class="cal">News</h2>
	<div class="aktuell">
		<div class="calendar-2 item">
			<div class="calendar-item">
				<ul>
					<li>08 June-01 July<span><br>Biel</span></li>
					<li>EXPOSITION</li>
                    <div class="type">24 deceased artists from Biel - a picture and sculpture selection</li></div>
					<li><span>Opening speech by Mario Cortesi</span></li>
					<!--<li>08 June, 6:30 pm.</li>-->
				</ul>
			</div>
			<!--<a href="programm.html" class="btn btn-primary">Program &amp; Tickets</a>-->
		</div>
		<div class="calendar-2 item">
			<div class="calendar-item">
                <ul>
					<li>17 June <span><br>Biel</span></li>
						<!--<div class="type"><a href="detail_ballet.html">LEJEUNEBALLET.CH</a></div>-->
					<li>Denis Shapovalov<span> - cello</span><br>Alexandre Vershinin<span> – piano</span></li>
				</ul>
			</div>
			<!--<a href="programm.html" class="btn btn-primary">Program &amp; Tickets</a>-->
		</div>
		<div class="calendar-2 item">
				<div class="calendar-item">
					<!--<h2><span>ART</span>WEIN</h2>-->
					<ul>
						<li>24 June <span><br>Biel</span></li>
						<li>Vadim Gluzman<span> - iolin</span><br>Evgeny Sinaiski<span> - piano</span></li>
						<!--<div class="type"><a href="detail_wein.html">ARTDIALOG AUF DEM BIELERSEE</a></div>-->
					</ul>
				</div>
			<!--<a href="detail_wein.html" class="btn btn-primary">mehr erfahren</a>-->
		</div>
	</div>
</div>

<div align="justify"><strong>ArtDialog Festival</strong> The ArtDialog Festival is a festival of art, which combines music, visual art and the art of wine. Art is the 
shortest way to a mutual understanding of people!</div>
