<nav id="nav" class="navbar navbar-default">
    <div  class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li><a href="programm.html">Program 2018</a></li>
			<!--<li><a href="tickets.html">Tickets</a></li>-->
            <li><a href="information.html">Information</a></li>
			<li><a href="archiv.html">Our artists</a></li>
            <li><a href="galerie.html">Gallery</a></li>
            <li><a href="video.html">Video</a></li>
            <li><a href="sponsoren.html">Partners &amp; Sponsors</a></li>
            <li><a href="kontakt.html">Contact</a></li>
        </ul>
    </div>
</nav>