<!DOCTYPE html>
<html lang="de">
<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-xs-6">
                <div class="about">
                    <h2>über uns</h2>
                    <a href="http://artdialog.ch/de/index.html"><img src="../assets/img/logo-neg.png" alt=".." /></a>
                    <p class="text-justify">Der Verein Art Dialog ist eine nichtkommerzielle Organisation und besteht aus Personen aus dem Bereich Kultur und Wirtschaft. Die Idee zur Gründung von Art Dialog hatte Dimitri Vasylyev - Musiker, Dirigent und Musikmanager. <a href="http://artdialog.ch/de/index.html" target="_blank">mehr...</a></p>
                </div>
            </div>
            <div class="col-sm-4 col-xs-6">
                <h2>Information</h2>
                <ul class="ftr-menu left">
                    <li><a href="programm.html">Programm</a></li>
                    <li><a href="information.html">Information</a></li>
                    <li><a href="galerie.html">Galerie</a></li>
                </ul>
                <ul class="ftr-menu right">
                    <li><a href="sponsoren.html">Sponsoren</a></li>
                    <li><a href="kontakt.html">Kontakt</a></li>
                    <li><a href="impressum.html">Impressum</a></li>
                </ul>
            </div>
            <div class="col-sm-4 col-xs-6">
                <h2>Kontakt</h2>
                <p>Verein Art Dialog
                    <br /> Büttenbergstrasse 37
                    <br /> 2504 Biel/Bienne
        <br /> Schweiz
                </p>
                <p class="purple">Mediakit
                    <a href="../assets/img/download/media_kit_de.pdf">herunterladen >></a></p>
            </div>
        </div>
        <div class="row copyright">
            <p>Copyright &copy; ArtDialog festival 2016</p>
            <p>Designed by: <a href="http://golive-design.com/de-home.html">green olive design</a></p>
        </div>
    </div>
</footer>
</html>
