<!DOCTYPE html>
<html lang="de">
<footer>
    <div class="container">
        <div class="row">
			<div class="col-sm-3">
				<font color="#af50c3">ARTDIALOG FESTIVAL</font><p></p>
				<p class="text-justify">ist ein Festival der Kunst, welches die Musik, die bildende Kunst und Weinkunst vereint. 
				Die Kunst ist der kürzeste Weg zum gegenseitigen Verständnis der Menschen!</p>
			</div>
			<div class="col-sm-2 text-center">
                <a href="http://artdialog.ch/de/index.html" target="_blank">ÜBER UNS</a>
			</div>
			<div class="col-sm-2 text-center">
                <a href="../assets/img/download/media_kit_de.pdf" target="_blank">MEDIAKIT</a></a>
			</div>
			<div class="col-sm-2 text-center">
                <a href="impressum.html">IMPRESSUM</a></a>
			</div>
			<div class="col-sm-3 text-center">
                <a href="kontakt.html">KONTAKT</a></a>
			</div>
		</div>
		<div class="row copyright">
			<p>Copyright &copy; ArtDialog festival 2017</p>
			<p>Designed by: <a href="http://golive-design.com/de-home.html">green olive design</a></p>
		</div>
	</div>
</footer>
</html>


