<!DOCTYPE html>
<html lang="de">
<footer>
	<div class="inner">
		<div class="art"></div>
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<a href="http://artdialog.ch/de/index.html" target="_blank">ÜBER UNS</a>
					<a href="../assets/img/download/media_kit_de.pdf" target="_blank">MEDIAKIT</a>
					<a href="impressum.html">IMPRESSUM</a>
					<a href="kontakt.html">KONTAKT</a>
				</div>
				<div class="col-sm-6">
					<h2>ARTDIALOG FESTIVAL</h2>
					<div class="f-text">
						ist ein Festival der Kunst, welches die Musik, die bildende Kunst und Weinkunst vereint.
						Die Kunst ist der kürzeste Weg zum gegenseitigen Verständnis der Menschen!
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id = "back-to-top">
		<i class="fa fa-angle-up" aria-hidden="true"></i>
	</div>
</footer>
</html>


