<nav id="nav" class="navbar navbar-default">
    <div  class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <!--<li><a href="programm.html">Programm 2019</a></li>-->
            <li>
                <a href="stars.html">World Stars 2019</a>
                <ul class="subnav">
                    <li><a href="programm.html">Programm 20191</a></li>
                    <li><a href="kontakt.html">kontakt1</a></li>
                </ul>
            </li>    
			<li><a href="https://embed.eventfrog.ch/de/p/gruppen/artdialog-festival-1516281085549001132.html">Tickets</a></li>
			<li>
                <a href="information.html">Information</a>
                <ul class="subnav">
                        <li><a href="video.html">video</a></li>
                    </ul>
                </li>
			<li><a href="archiv.html">Unsere Künstler</a></li>
            <li><a href="galerie.html">Galerie</a></li>
            <li>
                <a href="javascript:void(0)" >Pure submenu</a>
                <ul class="subnav">
                        <li><a href="sponsoren.html">sponsoren</a></li>
                    </ul>
                </li>
            </li>
            <li><a href="video.html">Video</a></li>
            <li><a href="sponsoren.html">Partner &amp; Sponsoren</a></li>
            <li><a href="kontakt.html">Kontakt</a></li>
        </ul>
    </div>
</nav>