<nav id="nav" class="navbar navbar-default">
    <div  class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <!--<li><a href="programm.html">Programm &amp; Tickets 2017</a></li>-->
            <li><a href="information.html">Information</a></li>
            <li><a href="galerie.html">Galerie</a></li>
            <li><a href="media.html">Media</a></li>
            <li><a href="sponsoren.html">Partner &amp; Sponsoren</a></li>
            <li><a href="kontakt.html">Kontakt</a></li>
        </ul>
    </div>
</nav>

<div class="aktuell-wrapper">
    <h2 class="cal">Aktuell</h2>
    <div class="videoWrapper">
	  <iframe width="854" height="480" src="https://www.youtube.com/embed/tWU8dkCJA-8" frameborder="0" allowfullscreen></iframe>
    </div>
    <!--<div class="aktuell">
      <div class="calendar-2 item">
        <div class="calendar-item">
                          <ul>
            <li>19 Mai-09 Juni<span><br>Biel</span></li>
                              <div class="type"><a href="kunst.html">AUSSTELLUNG <b>3H<sub>2</sub>O</b></a></li></div>
            <li>19 Mai, 19:00 Uhr</li>
            <li><span>Eröffnungsrede durch Filippo LOMBARDI, Ständerat, Co-Präsident parlamentarische Freundschaftsgruppe Russland-Schweiz</span></li>
          </ul>
        </div>
        <a href="programm.html" class="btn btn-primary">Programm &amp; Karten</a>
      </div>
    <div class="calendar-2 item">
      <div class="calendar-item">
                        <ul>
          <li>21 Mai <span>Biel</span></li>
          <div class="type"><a href="detail_ballet.html">LEJEUNEBALLET.CH</a></div>
          <li>02 Juni <span>Biel</span></li>
                            <li>03 Juni <span>Moutier</span></li>
          <div class="type"><a href="detail_kinder_biel.html">YOUNG WORLD TALENT</a></div>
                        </ul>
      </div>
      <a href="programm.html" class="btn btn-primary">Programm &amp; Karten</a>
    </div>
    <div class="calendar-2 item">
      <div class="calendar-item">
        <h2><span>ART</span>WEIN</h2>
        <ul>
          <li>27 Mai <span>Moutier</span><br>
          <span>Cave St-Germain</span></li>
          <li>05 Juni <span>St.Petersinsel</span></li>
          <div class="type"><a href="detail_wein.html">ARTDIALOG AUF DEM BIELERSEE</a></div>
        </ul>
      </div>
      <a href="detail_wein.html" class="btn btn-primary">mehr erfahren</a>
    </div>
  </div>-->
</div>

<div align="justify"><strong>ArtDialog Festival</strong> ist ein Festival der Kunst, welches die Musik, die bildende Kunst und Weinkunst vereint. Die Kunst ist der kürzeste Weg zum gegenseitigen Verständnis der Menschen! </div>
