<nav id="nav" class="navbar navbar-default">
    <div  class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <!--<li><a href="programm.html">Programm &amp; Tickets 2016</a></li>-->
            <li><a href="information.html">Information</a></li>
            <li><a href="galerie.html">Galerie</a></li>
            <li><a href="media.html">Media</a></li>
            <li><a href="sponsoren.html">Partner &amp; Sponsoren</a></li>
            <li><a href="kontakt.html">Kontakt</a></li>
        </ul>
    </div>
</nav>
