<!DOCTYPE html>
<html lang="fr">
<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-xs-6">
                <div class="about">
                    <h2>Qui sommes nous</h2>
                    <a href="http://artdialog.ch/fr/index.html"><img src="../assets/img/logo-neg.png" alt=".."></a>
                    <p class="text-justify">L’Association Art Dialog est une toute jeune organisation à but non lucratif, rassemblant des personnes actives dans les domaines de la 
					culture et de l’économie. Elle a été fondée à l’initiative de Dimitri Vasylyev, musicien, chef d’orchestre et directeur musical.  
					<a href="http://artdialog.ch/fr/index.html" target="_blank"> lire la suite...</a></p>
                </div>
            </div>
            <div class="col-sm-6 col-xs-6 col-md-push-1">
				<h2>Information</h2>
				<ul class="ftr-menu left">
					<li><a href="programm.html">Programme 2017</a></li>
					<li><a href="tickets.html">Tickets</a></li>
					<li><a href="information.html">Information</a></li>
					<li><a href="archiv.html">Nos artistes</a></li>
				</ul>
				<ul class="ftr-menu right">
					
					<li><a href="galerie.html">Galerie</a></li>
					<li><a href="sponsoren.html">Partenaires &amp; Sponsors</a></li>
					<li><a href="kontakt.html">Contact</a></li>
					<li><a href="impressum.html">Impressum</a></li>
				</ul>
            </div>
            <div class="col-sm-2 col-xs-6 col-md-push-2">
                <h2>Contact</h2>
				<p>Association Art Dialog
                    <br /> rue du Buttenberg 37
                    <br /> 2504 Biel/Bienne
					<br /> Suisse
                </p>
                <p class="purple">Mediakit
                    <a href="../assets/img/download/media_kit_fr.pdf">télécharger >></a></p>
                </div>
            </div>
        <div class="row copyright">
            <p>Copyright &copy; ArtDialog festival 2017</p>
            <p>Designed by: <a href="http://golive-design.com/de-home.html">green olive design</a></p>
        </div>
    </div>
</footer>
</html>