<!DOCTYPE html>
<html lang="fr">
<footer>
    <div class="container">
        <div class="row">
			<div class="col-sm-3">
				<font color="#af50c3">ARTDIALOG FESTIVAL</font><p></p>
				<p class="text-justify">est un festival des arts, qui réunit la musique, les arts visuels, la danse, l'art de la vinification et d'autres encore. 
				L'art est le plus court chemin vers la compréhension mutuelle entre les peuples!</p>
			</div>
			<div class="col-sm-3 text-center">
                <a href="http://artdialog.ch/fr/index.html" target="_blank">QUI SOMMES NOUS</a>
			</div>
			<div class="col-sm-2 text-center">
                <a href="../assets/img/download/media_kit_fr.pdf" target="_blank">MEDIAKIT</a></a>
			</div>
			<div class="col-sm-2 text-center">
                <a href="impressum.html">IMPRESSUM</a></a>
			</div>
			<div class="col-sm-2 text-center">
                <a href="kontakt.html">CONTACT</a></a>
			</div>
		</div>
		<div class="row copyright">
            <p>Copyright &copy; ArtDialog festival 2017</p>
            <p>Designed by: <a href="http://golive-design.com/de-home.html">green olive design</a></p>
        </div>
    </div>
</footer>
</html>