<!DOCTYPE html>
<html lang="fr">
<footer>
	<div class="inner">
		<div class="art"></div>
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<a href="http://artdialog.ch/fr/index.html" target="_blank">QUI SOMMES NOUS</a>
					<a href="../assets/img/download/media_kit_fr.pdf" target="_blank">MEDIAKIT</a>
					<a href="impressum.html">IMPRESSUM</a>
					<a href="kontakt.html">CONTACT</a>
				</div>
				<div class="col-sm-6">
					<h2>ARTDIALOG FESTIVAL</h2>
					<div class="f-text">
						est un festival des arts, qui réunit la musique, les arts visuels, la danse, l'art de la vinification et d'autres encore. 
				L'art est le plus court chemin vers la compréhension mutuelle entre les peuples !
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id = "back-to-top">
		<i class="fa fa-angle-up" aria-hidden="true"></i>
	</div>
</footer>
</html>				