<nav id="nav" class="navbar navbar-default">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		</button>
	</div>
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		<ul class="nav navbar-nav">
			<li><a href="programm.html">Programme 2017</a></li>
			<li><a href="tickets.html">Tickets</a></li>
			<li><a href="information.html">Information</a></li>
			<li><a href="archiv.html">Nos artistes</a></li>
			<li><a href="galerie.html">Galerie</a></li>
			<li><a href="media.html">Media</a></li>
			<li><a href="sponsoren.html">Partenaires &amp; Sponsors</a></li>
			<li><a href="kontakt.html">Contact</a></li>
		</ul>
	</div>
</nav>
<div class="aktuell-wrapper">
	<div class="videoWrapper">
		<iframe width="854" height="480" src="https://www.youtube.com/embed/tWU8dkCJA-8" frameborder="0" allowfullscreen></iframe>
	</div>
    <h2 class="cal">Actuel</h2>
	<div class="aktuell">
		<div class="calendar-2 item">
			<div class="calendar-item">
                <ul>
					<li>08 Juin-01 Juillet<span><br>Bienne</span></li>
					<li>EXPOSITION</li>
					<div class="type">24 artistes biennois décédés – une sélection d'peinture et de la sculpture</li></div>
					<li>19 Mai, 19h00</li>
					<li><span>Discours de M. Mario Cortesi</span></li>
					<!--<li>08 Juin, 18h30</li>-->
				</ul>
			</div>
			<!--<a href="programm.html" class="btn btn-primary">Programme &amp; Ticket</a>-->
		</div>
		<div class="calendar-2 item">
			<div class="calendar-item">
                <ul>
					<li>17 Juin <span><br>Bienne</span></li>
					<!--<div class="type"><a href="detail_ballet.html">LEJEUNEBALLET.CH</a></div>-->
					<li>Denis Shapovalov<span> - violoncelle</span><br>Alexandre Vershinin<span> – piano</span></li>
                </ul>
			</div>
			<!--<a href="programm.html" class="btn btn-primary">Programme &amp; Ticket</a>-->
		</div>
		<div class="calendar-2 item">
				<div class="calendar-item">
					<!--<h2><span>ART</span>VIN</h2>-->
					<ul>
						<li>24 Juni <span><br>Biel</span></li>
						<li>Vadim Gluzman<span> - Violine</span><br>Evgeny Sinaiski<span> - Klavier</span></li>
						<!--<div class="type"><a href="detail_wein.html">ARTDIALOG SUR LE LAC DE BIENNE</a></div>-->
					</ul>
				</div>
			<!--<a href="detail_wein.html" class="btn btn-primary">lire la suite</a>-->
		</div>
	</div>
</div>
				
<div align="justify"><strong>ArtDialog Festival</strong> est un festival des arts, qui réunit la musique, les arts visuels, la danse, l'art de la vinification et d'autres encore. L'art est le plus court chemin vers la compréhension mutuelle entre les peuples!</div>

